*
{
    color:cadetblue;
    background-color: lightgoldenrodyellow;
    font-family: monospace
}
h4
{
    color:brown
}

div
{
    font-family: monospace;
    color: cornflowerblue;

    
        
}

<!--Implement three < div > elements that each use a custom style for positioning:
Navigation (header) 
includes the intra-site navigation links here
Footer (at the bottom)
include copyright, year, and your name, and any other info you want here (e.g., your social profile links)-->


