*
h1
{
    font-family: monospace;
        color:dodgerblue
}
h3
{
    color:darkviolet
}
h2
{
  font-family: cursive
}

h5
{
    font-style: italic
}

div {text-align: center}

